.my-card {
  /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);*/

  transition: 0.3s;
  border-radius: 5px 5px 0 0;
  max-width: 200px;
  margin: 5px;
  text-align: left;
  color: rgba(255, 255, 255, 0.747);
  cursor: pointer;

}

/* .my-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
} */

.container {
  padding: 2px 16px;
}
.my-card-img {
  max-width: 200px;
  border-radius: 5px 5px 0 0;
  filter: drop-shadow(5px 5px 5px #222);
}

.m-container { 
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
    
}
.info-movies {
    text-align: center;
    color: #fff;
}
